*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  background-color: #d2dbdd;
}

div{
  width: 100%;
  height: 100vh;
  background: #8e44ad;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button{
  padding: 50px 100px;
  background-color: deeppink;
  color: white;
  border: 2px solid cyan;
  outline: none;
  border-radius: 20px;
  text-transform: uppercase;
  cursor: pointer;
  
}


